<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" href="style.css">
    <script src="app.js" async></script>
</head>
<body>
    <header>
        <h1>dev blog</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Accueil</a>                
            </nav>        
    </header>

    <div class="container-fluid">
        <div class="post">
            <img src="https://fakeimg.pl/800x500/ff0000/000" alt="">
            <div class="post-date">
                30/02/2020
            </div>
            <div class="article">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum repellendus placeat, voluptatum deserunt nesciunt ex non praesentium? Obcaecati amet unde aperiam tempora eligendi. Quaerat blanditiis debitis libero illum unde.
                Nam totam debitis minima repudiandae laboriosam vitae perferendis ea. Dignissimos maxime modi, veritatis odio labore magni, amet natus dolorum laborum est saepe debitis vel cupiditate repudiandae autem id quisquam soluta.
                Et cumque obcaecati dicta, quae eos ab blanditiis temporibus minima, corporis facilis deleniti sed dolorum saepe, fugit voluptates quisquam alias pariatur harum molestiae cupiditate veritatis quas quasi. Officiis, nam totam.
                Excepturi nobis laboriosam magnam laborum, distinctio aspernatur. Earum, sequi! Corrupti maxime rerum perspiciatis adipisci quaerat. Laboriosam, aliquam id cum, debitis facilis libero autem modi suscipit dolorem impedit omnis eaque mollitia.
                Officiis consequatur ipsum dolor reprehenderit aperiam eos quaerat praesentium nisi eaque! Magni placeat vel, eius nobis necessitatibus illum consequatur ex possimus pariatur sint voluptas inventore assumenda repudiandae quaerat quisquam molestias!
                Esse quod consequatur, rem, optio commodi cum ipsum, eveniet dolore odio voluptatum distinctio excepturi! Assumenda, consectetur atque pariatur explicabo numquam consequatur necessitatibus quae doloremque officiis maiores quod? Corporis, qui perferendis!
                Nam eaque veniam officia at quam, iste non aut eligendi dignissimos cupiditate rem magnam a ducimus dolorem quae qui corrupti quibusdam illum cum earum! Debitis veritatis perferendis fuga ratione magni.
                Maxime quam facilis accusantium animi error nemo ipsum rerum id labore excepturi molestiae doloribus at suscipit in officia esse magnam libero quis, aperiam non cumque unde eum perferendis! Quidem, dolore?
                Placeat accusamus eveniet laborum rerum, recusandae, adipisci autem incidunt soluta deleniti sint beatae id expedita porro cumque reprehenderit harum eos omnis quis dolor. Autem voluptas, omnis natus nihil optio provident!
                Error adipisci doloribus ipsa omnis repellendus voluptate et voluptates! Totam excepturi delectus laboriosam quaerat tempore, quidem obcaecati deleniti ullam exercitationem dignissimos voluptate. Cupiditate magni quibusdam vero! Modi similique veniam iusto!
                Ea deserunt perspiciatis repellendus laudantium illum dolore, necessitatibus odit unde dolor natus magni libero dolorum corporis enim placeat reprehenderit praesentium accusamus facilis et qui quas voluptatem nihil consectetur porro? Quos?
                Esse, ut. Impedit esse culpa, obcaecati eius nemo fugit perspiciatis iste autem reiciendis harum, quas rem quo laborum. Iure optio itaque, ad labore assumenda sint quasi numquam quaerat recusandae nemo?
                Temporibus officia esse nesciunt harum maiores blanditiis numquam iste consectetur reiciendis sint ducimus rerum odio accusamus molestias culpa, dolor nisi totam, consequuntur veniam, ullam dolores ratione est expedita. Facere, vero!
                Quisquam laboriosam possimus sunt quas, blanditiis ipsa. Velit nulla recusandae aliquam, quidem quasi, reprehenderit, iusto praesentium tenetur eius esse repellat? Ab, veniam! Odio, excepturi! Ea quia quidem impedit quibusdam saepe?
                Ducimus expedita, reiciendis quaerat quia incidunt maiores enim est excepturi eaque nostrum deserunt quod aperiam facere molestias magnam accusamus atque totam consequuntur. Voluptate aliquid eum doloremque a quia tempora quas.
            </div>
        </div>        
        
        <div class="previous-next container">
            <div class="row">
                <div class="previous">
                    <button>précedent</button>
                </div>
                <div class="next">
                    <button>suivant</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>